[submodule "SOIL2-clone"]
	path = SOIL2-clone
	url = https://github.com/alelievr/SOIL2-clone
[submodule "libdraw"]
	path = libdraw
	url = git@github.com:Chr0nos/libdraw.git
[submodule "libft"]
	path = libft
	url = git@github.com:Chr0nos/libft.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "libtga"]
	path = libtga
	url = git@github.com:/Chr0nos/libtga.git
